.subheader {
    display: flex;
    justify-content: space-between;
    background: #272727;
    color: #ffffff;

    margin: 0;
    padding: 10px;
    z-index: 200;
    position: relative;
}

.bl p {
    cursor: pointer;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.bl p:hover {
    text-decoration: underline;
}

.bl a {
    color: #ffffff!important;
}

.bl a:visited {
    color: #ffffff!important;
}

.bl a p {
    cursor: pointer;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.bl a p:hover {
    text-decoration: underline;
}