.mainBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    width: 100%;
}

.seg {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: calc(50% - 20px);
}

.main {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: scroll;
    box-sizing: border-box;
    border-radius: 25px;
    width: 100%;
    aspect-ratio: 3 / 4;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.example {
    scroll-snap-align: start;
    min-width: 100%;
    width: 100%;
    height: 100%;
    color: #fff;
}

.example img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 3 / 4;
    position: relative;
    max-width: 600px;
}

.controls {
    left: 30px;
    bottom: 20px;
    position: absolute;
    min-width: 50px;
    max-width: calc(100% - 80px);
    width: auto;
    height: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.control {
    cursor: pointer;
    width: 30px;
    height: 5px;
    backdrop-filter: invert();
}

@media screen and (max-width: 1320px) {
    .mainBox {
        flex-direction: column;
    }
    
    .seg {
        width: 100%;
    }
}

@media screen and (max-width: 620px) {
    .seg {
        flex-direction: column;
    }

    .main {
        aspect-ratio: 1 / 1;
    }

    .container {
        aspect-ratio: 1 / 1;
    }
}